streamlit
PyMuPDF
numpy
pandas
pytesseract
Pillow
SpeechRecognition
genanki
PyPDF2
docx2txt
ebooklib
PyMuPDF
nltk
python-docx
speechrecognition
pyttsx3
youtube-transcript-api
transformers
torch
sentencepiece
pytube
pydub